
body {
    background-color: #f8b1ff;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkred;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    width: 200px;
    height: auto;
}
body {
    background-color: #f8b1ff;
    font-family: Arial, sans-serif;
    text-align: center;
}
